<footer class="page-footer font-small unique-color-dark">

    <div class="bg-primary">
    <div class="container">

        <div class="row py-4 d-flex align-items-center">

        <div >
            <h6 class="mb-0 text-white">Applications Development and Emerging Technologies PAA4 by Louis Miguel Pawaon.</h6>
        </div>
        </div>
    </div>
    </div>      
</footer>