.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1rem;
}
a{
    text-decoration: none!important;
    color:white;
}
.title{
    font-weight: 700;
}
.navbar-brand{
    font-weight: 700;
}
.nav-link{
    font-weight: 500;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }