<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Oops!</title>
</head>
<body>
    <div class="container">
        <h1 class="title">ERROR 404</h1>
    </div>
    <h4 class="text-center">Looks like you're lost, let's get you back on track.</h4>
    <div class="container">
        <a href="/" class="btn btn-primary">Go to Homepage</a>
    </div>
</body>
</html>