<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1 class="title">ADMINISTRATOR CONTROL DASHBOARD</h1>
    </div>
    <div class="container" id="directoryBtn">
        <div class="row">
            <div class="col-4">
                <a href="/teachers" class="btn btn-primary">Teacher</a>
            </div>
            <div class="col-4">
                <a href="/students" class="btn btn-primary">Student</a>
            </div>
            <div class="col-4">
                <a href="/subjects" class="btn btn-primary">Subject</a>
            </div>
        </div>
    </div>
</body>
</html>